@import "../../assets/styles/media-queries";
@import "../../assets/styles/palette";

.cadastro {
  display: grid;
  grid-template-columns: 3fr 4fr;
  min-height: 100vh;

  > .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 350px;
    background-image: url("../../assets/images/cadastro/banner-adiante.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-color: map-get($primary, 500);

    > img {
      margin-bottom: 50px;
      width: 150px;
    }
  }

  > .right {
    display: flex;
    flex-flow: column;
    overflow: hidden;

    > .top {
      display: flex;
      justify-content: flex-end;
      padding: 30px 40px;

      .button-close {
        position: relative;
        cursor: pointer;
      }
    }

    > .content {
      display: flex;
      align-items: center;
      padding-bottom: 90px;
      height: 100%;
    }
  }
}

@include tablet {
  .cadastro {
    grid-template-columns: 1fr;

    > .left {
      display: none;
    }

    > .right {
      > .content {
        justify-content: center;
      }
    }
  }
}

@include mobile {
  .cadastro {
    > .right {
      > .top {
        padding: 8px 15px;
      }

      > .content {
        padding-bottom: 0;
      }
    }
  }
}
