@import "../../../assets/styles/media-queries";

.section6 {
  background-color: #ffffff;

  > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 172px;

    > .left {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      padding-right: 100px;

      > h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #0d73e8;
      }

      > h1 {
        margin: 6px 0 0;
        font-size: 32px;
        color: #707070;
      }

      > img {
        margin-top: 120px;
        width: 100%;
        max-height: 550px;
        max-width: 550px;
      }
    }

    > .right {
      margin-left: 50px;

      > .faq {
        > .items {
          > .item {
            &:not(:first-child) {
              border-top: 1px solid rgba(112, 112, 112, 0.2);
            }

            > input {
              display: none;

              &:checked {
                & ~ label {
                  > .chevron {
                    transform: scale(1.4, 0.9) rotate(90deg);
                  }
                }

                & ~ .text-content {
                  max-height: 300px;
                  padding-bottom: 40px;

                  &.big-content {
                    max-height: 270px;
                  }
                }
              }
            }

            > label {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 15px 0;
              user-select: none;
              cursor: pointer;

              > h4 {
                margin: 15px 0;
                color: #707070;
                line-height: 23px;
                font-size: 16px;
                font-weight: 600;
              }

              > .chevron {
                margin-left: 10px;
                color: #707070;
                font-size: 24px;
                transform: scale(0.8, 1.4);
                transition: all 0.1s ease-out;
              }
            }

            > .text-content {
              max-height: 0;
              color: #8d8d8d;
              line-height: 23px;
              overflow: hidden;
              transition: all 0.2s ease-out;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  .section6 {
    > .wrapper {
      padding: 100px 80px;
    }
  }
}

@include tablet {
  .section6 {
    > .wrapper {
      padding: 0px 0;
      grid-template-columns: 1fr;

      > .left {
        position: relative;
        padding: 25px 35px;
        background-color: #2d5299;

        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 35px;
          width: 0;
          height: 0;
          background: none;
          border-top: 12px solid #2d5299;
          border-right: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid transparent;
        }

        > h2 {
          color: #ffffff;
          font-size: 14px;
        }

        > h1 {
          color: #ffffff;
          font-size: 25px;
        }

        > img {
          display: none;
        }
      }

      > .right {
        margin: 5px 0px;
        padding: 0 50px;

        > .faq {
          > .items {
            > .item {
              > label {
                > h4 {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .section6 {
    > .wrapper {
      > .right {
        padding: 0 10px;
      }
    }
  }
}
