@import "../../../assets/styles/media-queries";

.section4 {
  color: #ffffff;

  > .wrapper {
    display: grid;
    grid-template-columns: 4fr 3fr;

    > .left {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      padding: 100px 73px 100px 173px;
      background: #0d73e8; /* Old browsers */
      background: linear-gradient(to bottom, #0d73e8 1%, #3cc8e7 100%);

      > .wrapper {
        max-width: 580px;

        > h4 {
          margin: 0;
          font-weight: 400;
        }

        > h1 {
          margin: 5px 0 0;
          font-size: 32px;
        }

        p {
          &.content {
            margin: 50px 0 20px;
          }
        }

        > a {
          margin-top: 30px;
          display: inline-block;
        }
      }
    }

    > .right {
      background-image: url("../../../assets/images/section4/banner-porque-escolher-o-adiante.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;

      > img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1035px) {
  .section4 {
    > .wrapper {
      grid-template-columns: 1fr;

      > .left {
        padding: 50px;
        background: transparent
          linear-gradient(165deg, #0d73e8 0%, #37d7fd 100%) 0% 0% no-repeat
          padding-box;
        text-align: center;

        > .wrapper {
          max-width: initial;

          > a.button-outline-white {
            display: none;
          }
        }
      }

      > .right {
        background-image: none;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  @include tablet {
    .section4 {
      > .wrapper {
        > .right {
          > img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

@include mobile {
  @include tablet {
    .section4 {
      > .wrapper {
        > .right {
          > img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
