@import "../../../../assets/styles/media-queries";

.reenviar-codigo-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;

  > .left {
    min-width: 350px;
  }

  > .right {
    display: flex;
    justify-content: center;
    align-items: center;

    .reenviar-codigo {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: 50px;
      padding: 60px 100px;
      max-width: 490px;
      min-width: 415px;
      background-color: #fff;
      text-align: center;

      > .top {
        display: none;
        justify-content: flex-end;
        width: 100%;
        margin: -35px -140px 10px 0;
      }

      h2 {
        font-size: 37px;
        line-height: 54px;
        text-align: center;
      }

      p {
        margin: 30px 0 40px;
        color: #707070;
        line-height: 35px;
      }

      > form {
        width: 100%;

        > .inputs {
          display: flex;
          flex-flow: column;

          > * {
            &:not(:first-child) {
              margin-top: 25px;
            }
          }
        }

        > .buttons {
          margin-top: 60px;

          > * {
            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.input-adornment {
  top: -1px;
  position: relative;
  margin-right: 5px;
  padding: 6px 0 7px;
  white-space: nowrap;
}

@media screen and (max-width: 1480px) {
  .reenviar-codigo-wrapper {
    grid-template-columns: 1fr;

    > .left {
      display: none;
    }

    > .right {
      .reenviar-codigo {
        > * {
          max-width: 420px;
        }

        > form {
          > .inputs {
            > * {
              &:not(:first-child) {
              }
            }
          }

          > .buttons {
            margin-top: 60px;

            > * {
              &:first-child {
              }
            }
          }
        }
      }
    }
  }
}

@include tablet {
  .reenviar-codigo-wrapper {
    > .right {
      .reenviar-codigo {
        margin: 0;
        padding: 10px;
        max-width: initial;
        min-width: initial;
        min-height: 100%;
        width: 100%;

        > .top {
          display: flex;
        }

        > form {
          > .inputs {
            > * {
              &:not(:first-child) {
              }
            }
          }

          > .buttons {
            > * {
              &:first-child {
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .reenviar-codigo-wrapper {
    > .right {
      .reenviar-codigo {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: initial;

        > .top {
          position: absolute;
          top: 20px;
          right: 20px;
          margin: 0;
        }

        > h2 {
          margin-top: 20px;
        }
      }
    }
  }
}

@include mobile {
  .reenviar-codigo-wrapper {
    > .right {
      .reenviar-codigo {
        h2 {
          font-size: 34px;
          line-height: 48px;
        }

        p {
          line-height: 26px;
        }

        > form {
          > .inputs {
            > * {
              &:not(:first-child) {
              }
            }
          }

          > .buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
              padding: 5px 17px;

              &:first-child {
                margin-right: 10px;
              }
            }

            * {
              font-size: 15px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 439px) {
  .reenviar-codigo-wrapper {
    > .right {
      .reenviar-codigo {
        h2 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 357px) {
  .reenviar-codigo-wrapper {
    > .right {
      .reenviar-codigo {
        h2 {
          font-size: 25px;
          line-height: 35px;
        }
      }
    }
  }
}
