@import "../../../assets/styles/media-queries";
@import "../../../assets/styles/palette";

.validar-email {
  padding: 0 120px;
  color: #7b7b7b;

  > .form-validar-email {
    margin-top: 70px;

    > .code-wrapper {
      width: 378px;

      > h4 {
        font-size: 14px;
        font-weight: 400;
      }

      > .input-code {
        margin: 25px 0px 8px;

        > input {
          &:active,
          &:hover,
          &:focus {
            outline: none;
          }
        }

        > textarea {
          display: none;

          &.hide-cursor {
            color: transparent;
            text-shadow: 0 0 0 #1c1c1c;
          }

          &:active,
          &:hover,
          &:focus {
            outline: none;
          }
        }
      }

      > .error-text {
        display: inline-block;
        margin-top: 14px;
        margin-bottom: 6px;
        width: 100%;
        font-size: 15px;
        text-align: center;
        color: map-get($warn, 500);
      }

      > .code-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        padding-right: 11px;

        > * {
          white-space: nowrap;
          text-decoration: none;
        }

        .MuiButton-textSizeSmall {
          font-size: 0.7125rem;
        }

        .replay-icon {
          margin-right: 5px;
          height: 0.9em;
          width: 0.9em;
          transform: rotate(180deg) rotateX(180deg);
        }
      }
    }

    > .button-outline {
      margin-top: 70px;
    }
  }
}

@include tablet {
  .validar-email {
    padding: 0 60px;

    > .top {
      > h1 {
        font-size: 38px;
      }
    }
  }
}

@include mobile {
  .validar-email {
    padding: 0 10px 15px;

    > .top {
      text-align: center;

      > h1 {
        font-size: 33px;
      }
    }

    > form.form-validar-email {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-top: 20px;

      > .code-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;

        > h4 {
          display: none;
        }

        > .input-code {
          > input {
            display: none;
          }

          > textarea {
            display: block;
          }
        }

        > .error-text {
          margin-top: 0;
        }

        > .code-bottom {
          justify-content: center;
          margin: 0;
          padding: 0 10px;
        }
      }

      > .button-outline {
        margin-top: 60px;
        width: 91%;
      }
    }
  }
}
