@import "../../../assets/styles/media-queries";
@import "../../../assets/styles/palette";

.footer {
  padding: 60px 172px;
  background-color: #006abf;
  color: #ffffff;

  > .wrapper {
    > .items {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      line-height: 20px;

      nav.item {
        a {
          display: block;
          color: #ffffff;
          text-decoration: none;
          font-weight: 400;
          transition: all 0.2s ease-out;

          &:active,
          &:focus,
          &:hover {
            text-decoration: underline;
          }

          &:not(:first-child) {
            margin-top: 12px;
          }
        }
      }

      > .item.contact {
        > .item-content {
          > h4 {
            margin: 0;
            font-weight: 400;
            word-spacing: 2px;
          }

          > .social-links {
            margin: 10px 0 40px;

            > a {
              &:not(:first-child) {
                margin-left: 15px;
              }
            }
          }
        }
      }

      > .item.company-info {
        > .item-content {
          > span {
            display: block;

            &:not(:first-child) {
              margin-top: 15px;
            }
          }
        }
      }

      > .item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 50px;

        > .item-content {
          display: flex;
          flex-flow: column;
          justify-content: center;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &:not(:first-child) {
          border-left: 1px solid #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  .footer {
    padding: 60px 50px;
  }
}

@include tablet {
  .footer {
    padding: 60px 45px;
  }
}

@media screen and (max-width: 911px) {
  .footer {
    padding: 0;
    background-color: #ffffff;

    > .wrapper {
      > .top {
        display: none;
      }

      > .items {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;

        > .item {
          width: initial;
        }

        nav.item {
          grid-row-start: 1;
          width: initial;
          margin: 0 10px;
          padding: 40px 0;
          border: none;
          border-left: none;
          border-bottom: 1px solid #70707029;
          background-color: #ffffff;
          text-align: center;

          a {
            color: map-get($primary, 900);
            font-weight: 600;

            &:active,
            &:focus,
            &:hover {
              color: darken(map-get($primary, 900), 10%);
            }

            &:not(:first-child) {
              margin-top: 20px;
              border-left: none;
            }
          }
        }

        > .item.contact {
          grid-row-start: 3;
          padding: 40px 10px;
          border-left: none;
          background-color: #006abf;
          text-align: center;

          > .item-content {
            > .social-links {
              display: flex;
              justify-content: space-between;
              padding: 0 1px;
            }

            > a {
              text-decoration: none;

              &:before {
                content: "Disponível para download";
                display: block;
                margin-bottom: 8px;
                color: #fff;
                font-size: 13px;
              }
            }
          }
        }

        > .item.company-info {
          margin: 0 10px;
          padding: 20px 0;
          color: #707070;
          text-align: center;

          > .item-content {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;

            > span {
              &:nth-child(1) {
                grid-row-start: 4;
                margin-top: 35px;
                padding: 35px 0 15px;
                border-top: 1px solid #70707029;
              }
            }
          }
        }

        > .item.grupo-gcb {
          width: initial;
          padding: 30px 10px;
          background-color: #2d5299;
          border-left: none;
        }
      }
    }
  }
}
