.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;

  @media screen and (max-width: 1190px) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
    text-align: center;

    > .left {
      display: none;
    }
  }

  > .left {
    padding: 20px;
    height: 100%;
    background-image: url('../../assets/images/login/login-image.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  > .right {
    padding: 20px 20px 20px 0;
    z-index: 0;

    > .content {
      max-width: 660px;

      .header {
        line-height: 45px;
      }

      > .inputs {
        margin: 50px 0;
      }

      > .passwords-container {
        display: flex;
        flex-flow: wrap;
        margin: 0 -10px 50px;
        justify-content: center;
      }

      > .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 442px) {
          display: grid;
          gap: 15px;
          justify-content: center;
        }
      }
    }
  }

  h1 {
    color: #006fc3;
    font-size: 39px;
  }

  h2 {
    color: #006fc3;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .input-float-label-wrapper {
    &:not(:first-child) {
      margin-top: 35px;
    }

    .input-float-label-container {
      position: relative;

      &.has-icon {
      }

      input {
        position: relative;
        width: 99%;
        padding-bottom: 4px;
        background: none;
        border: none;
        border-bottom: 1px solid #9f9f9f;
        color: #1e1e1e;

        &:hover {
          & ~ span.bottom-line {
            max-height: 2px;
          }
        }

        // Preenchido mas inválido
        &:not(:placeholder-shown) {
          & ~ label.float-label {
            font-size: 12px;
            transform: translate(0, -19px);
          }
        }

        // Válido
        &:valid {
          // background-color: green;
        }

        &:invalid {
          box-shadow: none;
        }

        &:active,
        &:focus {
          & ~ label.float-label {
            color: #006fc3;
            font-size: 12px;
            transform: translate(0, -19px);
          }

          & ~ span.bottom-line {
            max-height: 2px;
            transition: max-height 0;

            &:before {
              transform: scale(1);
            }
          }
        }
      }

      label.float-label {
        position: absolute;
        left: 0;
        color: #9e9e9e;
        font-size: 16px;
        z-index: -1;
        transition: all 0.2s ease-out;

        &.float {
          font-size: 12px;
          transform: translate(0, -19px);
        }
      }

      span.bottom-line {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99.3%;
        height: 2px;
        max-height: 0;
        background-color: #000000;
        transition: max-height 0.4s;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #006fc3;
          transform: scale(0);
          transform-origin: center;
          transition: transform 0.4s ease-out;
        }
      }
    }

    span.error {
      display: none;
      margin-top: 5px;
      font-size: 12px;
      color: red;

      &.visible {
        display: block;
      }
    }
  }

  .button-numbers {
    padding: 12px 15px;
    margin: 8px 10px;
    background: none;
    background-color: #f2f2f2;
    border: none;
    border-radius: 60px;
    color: #6a6a6a;
    white-space: nowrap;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: #0176fe;
      color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
    }
  }

  .button-outline {
    padding: 5px 55px;
    background: none;
    border: none;
    background-color: #ffffff;
    border: 2px solid #2d8de7;
    border-radius: 80px;
    color: #2d8de7;
    font-weight: 500;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(#ffffff, 3%);
    }
  }

  .button-clear {
    margin-left: 20px;
    padding: 5px 30px;
    border-radius: 2px;
    color: #9e9e9e;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.1s ease-out;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(#ffffff, 3%);
    }
  }

  .clear-password {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;

    > img {
      width: 20px;
    }
  }
}
