@import "../../../../assets/styles/media-queries";

.email-enviado-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;

  > .left {
    min-width: 350px;
  }

  > .right {
    display: flex;
    justify-content: center;
    align-items: center;

    .email-enviado {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin: 50px;
      padding: 60px 100px;
      max-width: 490px;
      min-width: 480px;
      background-color: #fff;
      text-align: center;

      > .top {
        display: none;
        justify-content: flex-end;
        width: 100%;
        margin: -35px -140px 10px 0;
      }

      h1 {
        margin-top: 10px;
        color: #707070;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;

        > strong {
          color: #707070;
        }
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  .email-enviado-wrapper {
    grid-template-columns: 1fr;

    > .left {
      display: none;
    }

    > .right {
      .email-enviado {
        h1 {
          > strong {
          }
        }
      }
    }
  }
}

@include tablet {
  .email-enviado-wrapper {
    > .right {
      .email-enviado {
        margin: 0;
        min-width: initial;

        > .top {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .email-enviado-wrapper {
    > .right {
      .email-enviado {
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: initial;

        > .top {
          position: absolute;
          top: 20px;
          right: 20px;
          margin: 0;
        }
      }
    }
  }
}

@include mobile {
  .email-enviado-wrapper {
    > .right {
      > .email-enviado {
        > img {
          width: 90%;
        }
      }
    }
  }
}
