@import '../../../../assets/styles/media-queries';
@import '../../../../assets/styles/palette';

.menu-layout {
  display: flex;
  justify-content: space-between;

  &.menu-hidden {
    height: 0;
    opacity: 0;
    user-select: none;

    > nav.items {
      > ul.items-container {
        > li.item-container {
          > a.item {
            font-size: 0;
          }
        }
      }
    }
  }

  > a {
    display: flex;
    align-items: center;

    > img {
      width: 120px;
    }
  }

  > nav.items {
    width: 100%;

    > ul.items-container {
      display: flex;
      justify-content: flex-end;
      padding-inline-start: 30px;
      padding-inline-end: 40px;

      > li.item-container {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 40px;
        }

        > a.item {
          color: map-get($primary, 500);
          font-size: 18px;
          text-decoration: none;
          transition: all 0.1s ease-out;
          white-space: nowrap;

          &:hover,
          &:active {
            color: map-get($primary, 900);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  .menu-layout {
    display: none;
  }
}
