@import "../../../assets/styles/media-queries";

.section2 {
  background-color: #ffffff;

  > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 170px;

    > .left {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-right: 40px;

      > img {
        min-height: 400px;
        min-width: 475px;
        max-width: 550px;
        width: 100%;
      }
    }

    > .left-mobile {
      display: none;
    }

    > .right {
      padding-left: 80px;

      > .items {
        > .title {
          display: none;
        }

        > .item {
          display: flex;
          align-items: center;

          > .item-left {
            > img {
              width: 80px;

              &.dinheiro-30-minutos {
                width: 60px;
                margin-top: 9px;
                margin-left: 11px;
                padding-right: 9px;
              }
            }
          }

          > .item-right {
            margin-left: 5px;

            > h5 {
              margin: 0;
              color: #707070;
              font-size: 18px;
              font-weight: 500;
            }

            > p {
              margin: 0;
              margin-top: 5px;
              color: #808080;
              font-size: 16px;
              font-weight: 300;
              line-height: 18px;
            }
          }
        }

        > .divisor {
          > img {
            margin-left: 40px;
          }
        }

        > .help-text {
          margin-top: 20px;
          margin-left: 85px;
          color: #808080;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section2 {
    > .container {
      grid-template-columns: 1fr;
      padding: 0;

      > .left {
        display: none;
      }

      > .left-mobile {
        position: relative;
        display: flex;
        flex-flow: column;
        background-color: #0d73e8;
        color: #fff;
        text-align: center;

        &:after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 84px;
          width: 0;
          height: 0;
          background: none;
          border-top: 12px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 12px solid #0d73e8;
          border-left: 15px solid transparent;
        }

        > p {
          align-self: center;
          max-width: 450px;
          margin: 40px 10px;
          font-size: 12px;
          line-height: 17px;
        }

        > .img-container {
          position: relative;
          height: 250px;
          margin: 0 40px 0 20px;

          > .img-wrapper {
            position: absolute;
            height: 500px;
            width: 100%;
            background-image: url("../../../assets/images/section2/adiante-banner-como-fazer-tablet.png");
            background-size: cover;
            background-position: top left;
            background-repeat: no-repeat;
            z-index: 10;
          }
        }
      }

      > .right {
        grid-row: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 40px 10px;

        > .items {
          > h2.title {
            display: block;
            margin: 0 0 15px 9px;
            color: #808080;
            font-size: 25px;
            font-weight: 600;
          }

          > .divisor {
            display: none;
          }

          > .help-text {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 696px) {
  .section2 {
    > .container {
      > .left-mobile {
        > p {
          margin: 30px 10px;
        }

        > .img-container {
          margin: 0 20px 0;

          > .img-wrapper {
            position: absolute;
            height: 500px;
            width: 100%;
            background-image: url("../../../assets/images/section2/adiante-banner-como-fazer-mobile.png");
            background-size: cover;
            background-position: top right;
            background-repeat: no-repeat;
          }
        }
      }

      > .right {
        > .items {
          > h2.title {
            margin: 0 10px 25px;
            text-align: center;
          }
        }
      }
    }
  }
}
