@import "../../../assets/styles/media-queries";

.section3 {
  background-color: #f7f7f7;
  color: #707070;

  > .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 100px 170px;

    > .left {
      padding-right: 150px;

      > h5 {
        margin: 0;
        font-size: 16px;
      }

      > h2 {
        margin: 7px 0 0;
      }

      > p {
        margin: 24px 0;

        > strong {
          display: inline-block;
          margin-top: 32px;
        }
      }

      > .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
        margin-top: 80px;

        .item {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          color: #808080;

          > img {
            width: 70px;
          }

          > p {
            margin: 0;
            margin-left: 10px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      > .button-flat-primary {
        display: none;
      }
    }

    > .right {
      > img {
        max-height: 575px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .section3 {
    > .container {
      grid-template-columns: 1fr;

      > .left {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        > h5 {
          text-align: center;
        }

        > h2 {
          text-align: center;
        }

        > p {
          margin: 24px 0;
          text-align: center;
        }

        > .items {
          margin-top: 50px;

          .item {
            > img {
              width: 70px;
            }
          }
        }

        > .button-flat-primary {
          display: block;
          margin-top: 40px;
        }
      }

      > .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section3 {
    > .container {
      padding: 250px 170px;

      > .left {
        margin-top: 100px;
      }
    }
  }
}

@include tablet {
  .section3 {
    > .container {
      padding: 210px 50px 60px;
    }
  }
}

@include mobile {
  .section3 {
    > .container {
      padding: 210px 10px 50px;

      > .left {
        > .items {
          grid-template-columns: 1fr;
          row-gap: 25px;
        }

        > .button-flat-primary {
          align-self: normal;
        }
      }
    }
  }
}
