@import "../../../assets/styles/media-queries";

.menu-floating {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  padding: 11px 5px 10px 7px;
  transform: translateY(-50%);
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #00000008;
  z-index: 9999;

  > * {
    &:not(:first-child) {
      margin-top: 15px;
    }

    > img {
      width: 23px;
    }
  }
}

@include mobile {
  .menu-floating {
    display: none;
  }
}
