@import "../../../assets/styles/media-queries";
@import "../../../assets/styles/palette";

.analisando-cadastro {
  padding: 0 120px;
  width: 100%;
  color: #7b7b7b;
  text-align: center;

  > h1 {
    display: inline-block;
    position: relative;
  }

  > .ellipsis-wrapper {
    display: flex;
    justify-content: center;

    > .ellipsis {
      position: relative;
      top: -7px;
      left: 7px;
    }
  }
}

.ellipsis {
  display: flex;
  align-items: flex-end;

  > .circle {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: map-get($primary, 200);
    border-radius: 50%;
    animation-name: ellipsisCircleAnimation;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    &:not(:first-child) {
      margin-left: 6px;
    }

    &:nth-child(1) {
      animation-delay: 0ms;
    }

    &:nth-child(2) {
      animation-delay: 200ms;
    }

    &:nth-child(3) {
      animation-delay: 400ms;
    }
  }
}

@keyframes ellipsisCircleAnimation {
  from {
    background-color: map-get($primary, 200);
  }
  to {
    background-color: map-get($primary, 500);
  }
}

@include mobile {
  .analisando-cadastro {
    h1 {
      font-size: 29px;
      white-space: nowrap;
    }
  }

  .addy-analisando-cadastro {
    width: 150px;
  }
}
