@import "../../../assets/styles/media-queries";
@import "../../../assets/styles/palette";

.section7 {
  background-color: #fafafa;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 172px;

    > .left {
      max-width: 600px;
      margin-right: 20px;

      > .headings {
        > h2 {
          margin: 0;
          color: #0d73e8;
          font-size: 16px;
          font-weight: 400;
        }

        > h1 {
          margin: 6px 0 0;
          color: #707070;
          font-size: 32px;
          line-height: 38px;
        }
      }

      > .input-container {
        margin-top: 100px;

        > form {
          > input {
            width: 100%;
          }

          > button {
            margin-top: 12px;
          }
        }
      }
    }

    > .right {
      margin-left: 20px;

      > h4 {
        display: none;
      }

      > img {
        max-width: 500px;

        &.addy-mobile {
          display: none;
        }
      }
    }
  }
}

.error-message {
  display: block;
  margin-top: 10px;
  min-height: 17px;
  color: map-get($warn, 500);
  font-size: 15px;
}

@media screen and (max-width: 1195px) {
  .section7 {
    > .container {
      padding: 100px 80px;
    }
  }
}

@include tablet {
  .section7 {
    > .container {
      flex-flow: column-reverse;
      padding: 80px 30px;

      > .left {
        margin: 80px 0 0;
        text-align: center;

        > .headings {
          > h1 {
            margin-top: 8px;
            font-size: 28px;
            line-height: 32px;
          }
        }

        > .input-container {
          margin-top: 50px;
        }
      }

      > .right {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;

        > h4 {
          display: block;
          max-width: 186px;
          margin: 0;
          margin-bottom: 10px;
          color: #808080;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          line-height: 20px;
        }

        > img {
          display: none;

          &.addy-mobile {
            display: block;
            width: 90%;
            max-width: 350px;
          }
        }
      }
    }
  }
}

@include mobile {
  .section7 {
    > .container {
      padding: 80px 10px;

      > .left {
        > .input-container {
          > form {
            > button {
              width: 100%;
              background-color: #0d73e8;
            }
          }
        }
      }
    }
  }
}
