.password-wrapper {
  padding: 0 110px;
  color: #7b7b7b;

  > .top {
    > p {
      margin-top: 30px;
      color: #7b7b7b;
    }
  }

  > form {
    margin-top: 60px;

    > .inputs {
      display: flex;
      flex-flow: column;
      max-width: 450px;

      > * {
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }

    > .button-outline {
      margin-top: 90px;
    }
  }
}
