@import "../../../assets/styles/media-queries";
@import "../../../assets/styles/palette";

.section5 {
  margin: 0 auto;
  padding: 50px 0;
  background: transparent linear-gradient(97deg, #f4f4f4 0%, #ffffff00 100%) 0%
    0% no-repeat padding-box;

  > .top {
    margin: 0 50px;
    text-align: center;

    > h4 {
      margin: 0;
      color: map-get($primary, 500);
      font-weight: 400;
    }

    > h1 {
      margin: 8px 0 0;
      color: #808080;
      font-size: 32px;

      > img {
        display: none;
      }
    }
  }

  > .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 460px;
    margin: 0;
    padding: 0 30px;
    overflow: auto;

    > .depoimentos-wrapper {
      margin: 0 -10px;
      padding: 50px;

      > .depoimentos {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #808080;

        > .depoimento {
          position: relative;
          padding: 20px 25px;
          width: 190px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0px 1px 20px 5px #0000002b;

          &:not(:first-child) {
            margin-left: 35px;
          }

          > strong {
            line-height: 20px;
          }

          > p.depoimento-text {
            margin: 40px 0;
            padding-right: 10px;
            max-height: 65px;
            font-size: 15px;
            font-style: italic;
            line-height: 20px;
            overflow: auto;

            &::-webkit-scrollbar-track {
              border: 1px solid #eeeeee;
              background-color: #f5f5f5;
              border-radius: 10px;
            }

            &::-webkit-scrollbar {
              width: 10px;
              background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: map-get($accent, 500);
            }
          }

          > span {
            display: block;

            &.name {
              font-size: 15px;
              font-weight: 500;
            }

            &.empresa {
              font-size: 14px;
              margin-top: 2px;
              color: #9a9a9a;
            }
          }

          > .depoimento-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 26px;
            font-size: 14px;
          }

          > .aspas {
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translate(20px, -54%);
          }
        }
      }
    }
  }
}

@include tablet {
  .section5 {
    padding: 50px 0 35px;

    > .top {
      display: flex;
      justify-content: center;

      > h4 {
        display: none;
      }

      > h1 {
        position: relative;
        margin: 0;
        width: 237px;
        font-size: 25px;
        text-align: left;

        > img {
          display: inline-block;
          position: absolute;
          top: 6px;
          left: 100%;
        }
      }
    }

    > .container {
      > .depoimentos-wrapper {
        > .depoimentos {
          margin: 0;

          > .depoimento {
            > .aspas {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .section5 {
    > .container {
      > .depoimentos-wrapper {
        > .depoimentos {
          > .depoimento {
            &:not(:first-child) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .section5 {
    > .top {
      > h4 {
      }

      > h1 {
        > img {
        }
      }
    }

    > .container {
      align-items: flex-start;

      > .depoimentos-wrapper {
        padding: 50px 0;
      }
    }
  }
}

@include mobile {
  .section5 {
    > .top {
      justify-content: space-between;
      margin: 0 20px;
    }
  }
}
