> .image-wrapper {
  position: relative;

  > img {
    &.addyComponent {
      width: 460px;
      transform: translate(0%, 5%);
    }

    &.baloonComponent {
      position: absolute;
      top: 50px;
      left: 80px;
    }
  }
}

.addyComponent {
  &.animate {
    animation-name: addyAnimation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }
}

.baloonComponent {
  &.animate {
    animation-name: baloonAnimation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }
}

@keyframes addyAnimation {
  0% {
    transform: translate(0%, 0);
  }
  50% {
    transform: translate(0%, -20px);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes baloonAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
