@import "../../../assets/styles/media-queries";

.cadastro-inicio {
  padding: 0 110px;
  color: #7b7b7b;

  > .top {
    > .requisitos {
      margin-top: 30px;

      > ul {
        padding-inline-start: 15px;
        line-height: 34px;
      }
    }
  }

  > form {
    margin-top: 60px;

    > .inputs {
      display: flex;
      flex-flow: column;
      max-width: 450px;

      > * {
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }

    > .button-outline {
      margin-top: 60px;
    }
  }
}

@include tablet {
  .cadastro-inicio {
    padding: 0 10px;

    > .top {
      > .requisitos {
        > ul {
          line-height: 28px;

          > li {
            &:not(:first-child) {
              margin-top: 2px;
            }
          }
        }
      }
    }

    > form {
      display: flex;
      flex-flow: column;
    }
  }
}

@include mobile {
  .cadastro-inicio {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    height: 100%;

    > .top {
      > h1 {
        font-size: 32px;
      }

      > .requisitos {
        margin-top: 30px;
      }
    }

    > form {
      display: grid;
      align-items: flex-end;
      justify-content: initial;
      margin-top: 9px;
      padding-bottom: 10px;

      > p {
        margin: 0 0 5px;
        max-width: 190px;
        line-height: 25px;
      }

      > .button-outline {
        margin-top: 55px;
      }
    }
  }
}
