@import "../../../../assets/styles/media-queries";
@import "../../../../assets/styles/palette";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 80px;

  > .menu-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    > .right {
      display: flex;
      padding-inline-start: 44px;

      > a {
        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }
  }
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 1195px) {
  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;

    > .menu-mobile-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px 7px;

      > a {
        > img {
          width: 100px;
        }
      }

      > .hamburguer-container {
        position: fixed;
        right: 20px;
        top: 19px;
        z-index: 200;

        > label.hamburguer {
          position: relative;
          display: flex;
          flex-flow: column;
          cursor: pointer;

          &active,
          &:focus,
          &:hover {
            outline: none;
          }

          > span.line {
            display: inline-block;
            height: 2px;
            width: 24px;
            border-radius: 5px;
            background-color: #2d5299;
            transition: background-color 0.2s ease-out;

            &:not(:first-child) {
              margin-top: 5px;
            }

            &.line2 {
              // prettier-ignore
              transition: background-color 0.2s ease-out, transform 0.3s ease-out;
            }

            &.line3 {
              // prettier-ignore
              transition: background-color 0.2s ease-out, transform 0.3s ease-out;
            }
          }
        }
      }
    }

    > #hamburguer-controller {
      display: none;

      &:checked {
        & ~ .menu-mobile-container {
          > .hamburguer-container {
            > label.hamburguer {
              > span.line {
                background-color: #ffffff;

                &.line1 {
                  transform: scale(0);
                }

                &.line2 {
                  position: relative;
                  top: -1px;
                  transform: rotate(-45deg) translate(-4px, -1px);
                  transform-origin: 50% -186%;
                }

                &.line3 {
                  position: relative;
                  top: -1px;
                  transform: rotate(45deg) translate(-1px, 4px);
                  transform-origin: 100% 100%;
                }
              }
            }
          }
        }

        & ~ .menu-mobile-fixed {
          transform: none;
        }
      }
    }

    > .menu-mobile-fixed {
      display: flex;
      flex-flow: column;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      min-height: 100vh;
      background: transparent linear-gradient(359deg, #0d73e8 0%, #002d6a 100%)
        0% 0% no-repeat padding-box;
      transform-origin: 0% 0%;
      transform: translate(0%, -105%);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      z-index: 90;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../../../assets/images/menu/background-effect.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 50%;
        z-index: -1;
      }

      > .content {
        overflow: auto;
        padding-bottom: 50px;

        > .top {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          padding: 10px 10px 7px;

          > img {
            width: 140px;
          }
        }

        > nav.items {
          display: flex;
          justify-content: center;

          > ul.items-container {
            display: flex;
            flex-flow: column;
            margin: 30px 0 50px;
            padding: 0 55px;
            width: 100%;

            > li.item-container {
              display: block;
              text-align: center;

              &:not(:first-child) {
                margin-top: 30px;
              }

              &.with-button {
                margin-top: 40px;

                &:nth-child(1) {
                  > a {
                    padding: 10px 38px;
                  }
                }

                &:nth-child(2) {
                  margin-top: 40px;
                  margin-bottom: 15px;
                  padding-bottom: 50px;
                  border-bottom: 1px solid #f2f2f24f;
                }
              }

              > a.item {
                position: relative;
                color: #fff;
                font-size: 18px;
                text-decoration: none;
                transition: all 0.1s ease-out;
                white-space: nowrap;

                &:active,
                &:focus,
                &:hover {
                  &:after {
                    transform: none;
                  }
                }

                &:after {
                  content: "";
                  background-color: #fff;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  display: inline-block;
                  position: absolute;
                  transform-origin: left;
                  transition: transform 0.3s ease-out;
                  transform: scale(0);
                }
              }
            }
          }
        }

        .menu-footer {
          padding: 0 55px;
          background-color: #2d5299;
          color: #ffffff;

          h4 {
            font-size: 14px;
            font-weight: 400;
          }

          > * {
            padding: 20px 0 37px;
          }

          > .menu-social-medias {
            display: none;
            flex-flow: column;
            align-items: center;
            border-bottom: 1px solid #f2f2f24f;

            > nav.menu-icons {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;

              > * {
                &:first-child {
                  position: relative;
                  top: -2px;
                }

                &:not(:first-child) {
                  margin-left: 25px;
                }
              }
            }
          }

          > .app-download {
            display: flex;
            flex-flow: column;
            align-items: center;

            > a {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .menu-mobile {
    > .menu-mobile-fixed {
      > nav.items {
        > ul.items-container {
          padding: 0 10px;
        }
      }

      .menu-footer {
        padding: 0 10px;

        > .menu-social-medias {
          display: flex;
        }
      }
    }
  }
}
