@import "./media-queries";
@import "./palette";

%button-config {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: map-get($primary, 500);
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  transition: all 0.1s ease-out;
  white-space: nowrap;
  cursor: pointer;

  &.big {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.large {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.button {
  @extend %button-config;

  &:active,
  &:hover {
    background-color: map-get($primary, 500);
  }
}

.button-outline-white {
  @extend %button-config;

  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;

  &:active,
  &:hover {
    border-color: #e6e6e6;
    color: #e6e6e6;
  }
}

.button-flat-light-blue {
  @extend %button-config;

  padding: 11px 42px 10px;
  background-color: map-get($accent, 500);
  color: #ffffff;
  font-weight: 600;

  &.dark-text {
    color: #162b6e;
  }

  &:active,
  &:hover {
    background-color: map-get($accent, 700);
  }
}

.button-flat-primary {
  @extend %button-config;

  padding: 13px 34px;
  background-color: map-get($primary, 500);
  color: #ffffff;
  font-weight: 600;

  &:active,
  &:hover {
    background-color: map-get($primary, 700);
  }
}

.button-close {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  > .line {
    display: inline-block;
    position: absolute;
    background: map-get($primary, 900);
    height: 30px;
    width: 1px;

    &.line1 {
      transform: rotate(45deg);
    }

    &.line2 {
      transform: rotate(-45deg);
    }
  }

  @include mobile {
    height: 25px;
    width: 25px;

    > .line {
      height: 25px;
    }
  }
}

.MuiButton-root {
  &.MuiButton-outlined {
    &.button-outline {
      border-radius: 38px;
      padding: 7px 80px;
      border: 2px solid #0d73e8;

      &:hover {
        border: 2px solid #0d73e8;
      }

      &.small {
        padding: 7px 40px;
      }
    }

    &.button-flat {
      border-radius: 38px;
      padding: 7px 80px;
      background-color: #0d73e8;
      color: #ffffff;

      &:hover {
        background-color: darken(#0d73e8, 8%);
      }

      &.small {
        padding: 7px 40px;
      }
    }
  }
}
