@import "./palette";
@import "./variables";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.has-anchor {
  position: relative;
}
