@import "./palette";

body {
  h1 {
    margin: 0;
    color: map-get($primary, 500);
    font-size: 39px;

    strong {
      color: map-get($primary, 900);
    }

    &.white {
      color: #ffffff;
    }
  }

  h2 {
    margin: 0;
    color: map-get($primary, 500);
    font-size: 32px;
    line-height: 42px;

    &.dark {
      color: #131964;
    }

    &.gray {
      color: #707070;
    }
  }

  h5 {
    margin: 0;
    color: map-get($primary, 500);
    font-size: 17px;

    &.light {
      color: map-get($primary, 400);
      font-weight: 400;
    }

    &.white {
      color: #ffffff;
    }
  }
}
