@import "../../assets/styles/media-queries";

.simple-input {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #cecece;
  font-size: 18px;
  color: #707070;
}

.input-code {
  position: relative;
  padding: 0 10px;
  height: 48px;
  font-family: "Courier New", monospace;

  > span.number-box {
    position: absolute;
    top: 50%;
    left: 1px;
    height: 66px;
    width: 50px;
    background-color: #e6e6e6;
    border-radius: 12px;
    transform: translateY(-48%);
    z-index: 80;

    &:nth-child(2) {
      left: 65px;
    }

    &:nth-child(3) {
      left: 128px;
    }

    &:nth-child(4) {
      left: 191px;
    }

    &:nth-child(5) {
      left: 254px;
    }

    &:nth-child(6) {
      left: 317px;
    }
  }

  > input {
    position: absolute;
    top: -1px;
    left: 13px;
    max-width: 100%;
    background: none;
    border: none;
    color: #6c6c6c;
    font-size: 48px;
    letter-spacing: 34px;
    z-index: 100;
  }

  > textarea {
    display: none;
    position: absolute;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 50px;
    line-height: 84px;
    letter-spacing: 52px;
    resize: none;
    z-index: 100;
  }
}

@include mobile {
  .input-code {
    left: 29px;
    height: 168px;
    width: 300px;

    > input {
      display: none;
    }

    > textarea {
      display: block;
    }

    > span.number-box {
      position: absolute;
      top: 40px;
      left: 14px;
      height: 70px;
      width: 70px;
      background-color: #e6e6e6;
      border-radius: 12px;
      transform: translateY(-48%);
      z-index: 80;

      &:nth-child(2) {
        left: 97px;
      }

      &:nth-child(3) {
        left: 180px;
      }

      &:nth-child(4) {
        top: 123px;
        left: 14px;
      }

      &:nth-child(5) {
        top: 123px;
        left: 97px;
      }

      &:nth-child(6) {
        top: 123px;
        left: 180px;
      }
    }

    > input {
      position: absolute;
      top: -1px;
      left: 13px;
      max-width: 100%;
      background: none;
      border: none;
      color: #6c6c6c;
      font-size: 48px;
      letter-spacing: 34px;
      z-index: 100;
    }
  }
}
