$primary: (
  50: #e0edf7,
  100: #b3d2ec,
  200: #80b4df,
  300: #4d96d2,
  400: #2680c9,
  500: #0069bf,
  600: #0061b9,
  700: #0056b1,
  800: #004ca9,
  900: #003b9b,
  A100: #c6d7ff,
  A200: #93b3ff,
  A400: #6090ff,
  A700: #477eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$accent: (
  50: #e0f9fe,
  100: #b3effd,
  200: #80e5fc,
  300: #4ddafb,
  400: #26d2fa,
  500: #00caf9,
  600: #00c5f8,
  700: #00bdf7,
  800: #00b7f6,
  900: #00abf5,
  A100: #ffffff,
  A200: #e8f7ff,
  A400: #b5e6ff,
  A700: #9cddff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$warn: (
  50: #fce8e8,
  100: #f7c6c6,
  200: #f2a0a0,
  300: #ed7a7a,
  400: #e95e5e,
  500: #e54141,
  600: #e23b3b,
  700: #de3232,
  800: #da2a2a,
  900: #d31c1c,
  A100: #ffffff,
  A200: #ffd5d5,
  A400: #ffa2a2,
  A700: #ff8989,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
