@import "../../../assets/styles/media-queries.scss";
@import "../../../assets/styles/palette";

.home-main-section {
  display: inline-block;
  width: 100%;

  > .home-main-section-container {
    display: grid;
    grid-template-columns: 5fr 3fr;

    > .left {
      padding: 170px 0px 0 20px;
      background-color: #f4f4f4;

      > main.content {
        padding: 70px 220px 70px 151px;
        max-width: 458px;

        > .top {
          > p {
            color: #707070;
          }
        }

        > .bottom {
          margin-top: 70px;

          > .images-items {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;

            > .image-item {
              position: relative;
              display: flex;
              align-items: center;

              &:not(:first-child) {
                left: -8px;
              }

              > img {
                width: 55px;
              }

              > span {
                margin-left: 2px;
                color: map-get($primary, 500);
                font-size: 15px;
                line-height: 23px;
              }
            }

            > .divisor {
              margin: 0 10px;
              width: 1px;
              background-color: #c9c9c9;
            }
          }
        }
      }
    }

    > .right {
      padding: 160px 20px 0 0px;
      background: #0d73e8;

      > .image-wrapper {
        position: relative;

        > img {
          &.addy {
            width: 460px;
            transform: translate(-53%, 5%);
          }

          &.baloon {
            position: absolute;
            top: 50px;
            left: 80px;
          }
        }
      }

      .mobile-version {
        display: none;
      }
    }
  }
}

.addy {
  animation-name: addy;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.baloon-desktop {
  animation-name: baloon;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes addy {
  0% {
    transform: translate(-53%, 0);
  }
  50% {
    transform: translate(-53%, -20px);
  }
  100% {
    transform: translate(-53%, 0);
  }
}

@keyframes baloon {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1390px) {
  .home-main-section {
    > .home-main-section-container {
      > .right {
        > .image-wrapper {
          > img {
            &.addy {
              width: 420px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  .home-main-section {
    > .home-main-section-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      > .left {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 54px 0 95px;
        text-align: center;

        > main.content {
          padding: 0 10px;

          > .top {
            > h1 {
              margin: 32px 0 15px;
              font-size: 30px;
              line-height: 36px;
            }

            > p {
              margin: 0;
            }
          }

          > .bottom {
            display: none;
          }
        }
      }

      > .right {
        padding: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: transparent
          linear-gradient(199deg, #0d73e8 0%, #3ee9ff 100%) 0% 0% no-repeat
          padding-box;

        > .image-wrapper {
          display: none;
        }

        > .mobile-version {
          display: block;
          position: relative;
          height: 100%;

          > .img-wrapper {
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            > .addy-mobile {
              position: absolute;
              left: 50%;
              transform: translate(-54%, -32%);
              width: 163px;
            }

            > .baloon {
              transform: translate(46%, -76%) scale(0.8);
            }
          }

          > .content {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            > .items {
              display: flex;
              justify-content: space-between;
              margin-top: 155px;
              color: #ffffff;

              > .item {
                > .top {
                  > img {
                    width: 47px;
                  }

                  > .text {
                    display: inline-block;
                    font-weight: 500;
                    margin-left: 5px;
                    line-height: 24px;

                    > span {
                      display: block;
                      font-size: 12px;

                      &.big {
                        font-size: 32px;
                      }
                    }
                  }
                }

                > .bottom {
                  margin-top: 3px;
                  margin-left: 5px;
                  max-width: 125px;
                  font-size: 18px;
                }
              }

              > .divisor {
                height: 100%;
                width: 1px;
                margin: 0 20px;
                background-color: #ffffff;
              }
            }

            > .button-flat-primary {
              margin: 30px 15px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .home-main-section {
    > .home-main-section-container {
      overflow: hidden;

      > .right {
        > .mobile-version {
          > .content {
            > .button-flat-primary {
              align-self: normal;
            }
          }
        }
      }
    }
  }
}
